.container {
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  align-items: center;
}

.image {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 45%;
  height: 400px;
  margin-left: 3%;
  /*height: 100%;*/
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 55%;
  margin: auto;
  margin-right: 3%;
}

.header {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.tech {
  display: flex;
  align-items: center;
  margin: 3px;
  /*margin-left: 3px;*/
  /*margin-right: 3px;*/
  border-radius: 10px;
  background-color: #F3A530;
  font-size: 15px;
  padding: 5px;
}

.tools {
  margin-right: 10px;
  color: #F9ED3A;
}

.title {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    align-items: center;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }

  .image {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 20px;
  }
}


