.app {
  /*height: 100%;*/
  width: 100%;
}

body {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/web-portfolio-52c16.appspot.com/o/images%2FportfolioBackground.jpg?alt=media&token=acc59edb-15a2-4929-aad5-589d16db1c77');
  background-size: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /*background-color: #30499B;*/
}

/*
COLORSCHEME
DARKBLUE: #30499B;
ORANGE: #F3A530;
YELLOW: #F9ED3A;

*/