.app {
  height: 100%;
  width: 100%;
}

body {
/*  background-image: url('http://wallpapercave.com/wp/i0H69k0.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;*/

  /*background-color: #30499B;*/
}

/*
COLORSCHEME
DARKBLUE: #30499B;
ORANGE: #F3A530;
YELLOW: #F9ED3A;

*/