.container {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.imageDiv {
  display: block;
  margin: auto;
  /*justify-content: center;*/
  /*vertical-align: middle;*/
  /*background-color: pink;*/
}

.image {
  width: 90%;
  height: auto;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
}

.arrows {
  display: flex;
  justify-content: space-around;
}