.container {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.imageDiv {
  /*display: flex;*/
  display: block;
  /*justify-content: center;*/
  margin: auto;
  /*justify-content: center;*/
  /*vertical-align: middle;*/
  /*background-color: pink;*/
  max-width: 100%;
  max-height: 100%;
}

.image {
  /*display: block;*/
  max-width: 90%;
  /*max-height: 50%;*/
  margin-top: 5px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #F3A530;
}

.arrows {
  display: flex;
  justify-content: space-around;
  color: #F3A530;
}

.button {
  border: none;
  font-size: 18px;
  background-color: transparent;
  border-radius: 50%;
}

.button:focus {
  outline: none;
}

.arrows:hover {
  color: #F9ED3A;
}