.container {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.imageDiv {
  display: block;
  margin: auto;
  /*justify-content: center;*/
  /*vertical-align: middle;*/
  /*background-color: pink;*/
}

.image {
  width: 90%;
  height: auto;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #30499B;
}

.arrows {
  display: flex;
  justify-content: space-around;
  color: #F3A530;
}

.button {
  border: none;
  font-size: 18px;
  background-color: transparent;
  border-radius: 50%;
}

.button:focus {
  outline: none;
}

.arrows:hover {
  color: #F9ED3A;
}