.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-around;
  margin-left: 30%;
  margin-right: 30%;
}