.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  margin: auto;
  font-family: 'Merriweather';
  color: white;
}

.finePrint {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  font-family: 'Merriweather';
  color: white;
  font-size: 10px;
}