.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 80px;
}

/*.icon:hover {
  cursor: pointer;
  font-size: 60px;
  margin: auto;
  text-align: center;
  line-height: 50px;
}*/

.icon {
  color: #F3A530;
  margin-left: 2px;
  margin-right: 2px;
}

.iconLabel {
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  font-family: 'Merriweather';
  font-size: 12px;
  color: white;
}

@media screen and (max-width: 900px) {
  .links {
    margin-left: 22%;
    margin-right: 22%;
  }
}

@media screen and (max-width: 425px) {
  .links {
    margin-left: 10%;
    margin-right: 10%;
  }
}