.nav {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
}

.name {
  /*color: white;*/
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;

  font-size: 20px;
}
.paths {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.path {
  /*color: white;*/
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 17px;
}