.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  border-color: white;
}

.pictureContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.picture {
  width: 240px;
  height: 240px;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.description {
  width: 60%;
  /*height: auto;*/
  /*text-align: center;*/
  margin: auto;
  margin-right: 3%;
  color: white;
  font-family: 'Merriweather';
}

.header {
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Merriweather';
}

.container2 {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 670px) {
  .container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .description {
    width: 80%;
    margin: auto;
  }

  .picture {
    width: 200px;
    height: 200px;
    margin: auto;
    /*margin-left: 100px;*/
    /*margin-right: 50px;*/
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
}

@media screen and (min-width: 1440px) {
  .pictureContainer {
    margin-left: 15%;
  }

  .description {
    margin-right: 15%;
  }
}

@media screen and (min-width: 1920px) {
  .pictureContainer {
    margin-left: 15%;
  }

  .description {
    margin-right: 15%;
  }
}
