.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
}

.pictureContainer {
  display: flex;
  justify-content: center;
}

.picture {
  width: 250px;
  height: 250px;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
}

.description {
  width: 60%;
  /*height: auto;*/
  /*text-align: center;*/
  margin: auto;
  margin-right: 3%;
}

.header {
  display: flex;
  justify-content: center;
}

.container2 {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 670px) {
  .container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .description {
    width: 80%;
    margin: auto;
  }
}